<div>
  <h3>Planetary References</h3>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <td>Radius (kms)</td>
      <td>Distance from Star (million kms)</td>
      <td>Day Length (seconds)</td>
      <td>Orbital Period (days)</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Mercury</th>
      <td>2440</td>
      <td>57</td>
      <td>15137279</td>
      <td>0.5</td>
    </tr>
    <tr>
      <th>Venus</th>
      <td>6052</td>
      <td>108</td>
      <td>10101375</td>
      <td>1.92</td>
    </tr>
    <tr>
      <th>Earth</th>
      <td>6378</td>
      <td>150</td>
      <td>86164</td>
      <td>365</td>
    </tr>
    <tr>
      <th>Mars</th>
      <td>3397</td>
      <td>228</td>
      <td>88761</td>
      <td>667</td>
    </tr>
    <tr>
      <th>Jupiter</th>
      <td>71492</td>
      <td>779</td>
      <td>35708</td>
      <td>10476</td>
    </tr>
    <tr>
      <th>Saturn</th>
      <td>60268</td>
      <td>1430</td>
      <td>37930</td>
      <td>24491</td>
    </tr>
    <tr>
      <th>Uranus</th>
      <td>25559</td>
      <td>2880</td>
      <td>62027</td>
      <td>42718</td>
    </tr>
    <tr>
      <th>Neptune</th>
      <td>24766</td>
      <td>4500</td>
      <td>57961</td>
      <td>89666</td>
    </tr>
  </tbody>
  </table>
</div>