.tictactoe {
    font-size: 10px;

    p {
        font-size: 2em;
    }

    td {
        font-size: 5em;
        width: 1.25em;
        height: 1.25em;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        text-align: center;
    }

    td:last-child {
        border-right: 0;
    }

    tr:last-child td {
        border-bottom: 0;
    }
}
