<div id="share">
    Share this link to have a friend join you!
    <p>
        http://localhost:3000/room/{{{ code }}}
    </p>
</div>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript">
    var code = "{{{ code }}}";
    var socket = io();
    socket.emit('join room', code);
</script>