{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Public Planetary Systems | {{ block.super }}
{% endblock title %}

{% block content %}
<ol>
{% for ps in planetarysystem_list %}
    <li class="planetary-system">
        <a class="title" href="{% url 'system' ps.creator.username ps.url_name %}">
            {{ ps.name }}
        </a>
        {% if ps.creator == user %}
        <div class="dangerous">
            <a href="{% url 'update_system' ps.creator.username ps.url_name %}">Update</a>
            <a href="{% url 'delete_system' ps.creator.username ps.url_name %}">Delete</a>
        </div>
        {% endif %}
    </li>
{% empty %}
    <li>
        There are no public planetary systems.
    </li>
{% endfor %}
</ol>
{% endblock content %}
