{% extends 'base.html' %}

{% block content %}
<h1>
    <span class="exercise">
        {% if goal.exercise %}
            {{ goal.exercise | capfirst }}
        {% else %}
            Workout
        {% endif %}
    </span>
    |
    <span class="distance">
        {{ goal.trip.length }} miles
    </span>
</h1>
<div>
    <ul>
    {% for workout in goal.workout_set.all %}
        <li>
            {{ workout.exercise }} for {{ workout.distance }} miles.
        </li>
    {% empty %}
        <li>
            You have no saved workouts.
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'add_workout' goal.pk %}">Add a workout.</a>
</div>
{% endblock content %}