{% extends 'base.html' %}

{% block title %}
    Your Goals | {{ block.super }}
{% endblock title %}

{% block inline-css %}

.goal {
    margin-bottom: 15px;
}

.goal a {
  text-decoration: none;
  font-size: 1.25em;
}

.bar-holder {
    width: 300px;
    height: 20px;
    position: relative;
    padding: 5px 0;
}

.progress-text{
    position: absolute;
    right: 5px;
}

.bar {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.total {
    background: rgba(61, 179, 102, 0.25);
    width: 100%;
}

.current {
    background: #3DB366;
}


{% endblock inline-css %}

{% block content %}
<a href="{% url 'add_goal' %}">Add a goal.</a>
<ol>
{% for goal in goal_list %}
    <li class="goal">
        <a href="{% url 'goal' goal.id %}">
            {{ goal.start.name }} to {{ goal.end.name }}
        </a>
    </li>
{% empty %}
    <li>
        You have no goals.
    </li>
{% endfor %}
</ol>
{% endblock content %}

{% block inline-js %}
var percFormat = d3.format('.2%');
var progress = [
    {% for goal in goal_list %}
    {
        progress: {{ goal.progress }},
        length: {{ goal.length }},
        percent: percFormat({{ goal.progress }} / {{ goal.length }})
    },
    {% endfor %}
];

var goals = d3.selectAll('li.goal')
    .data(progress);
var bars = goals.append('div')
    .classed('bar-holder', true)
    .attr('title', function(d){
        return d;
    })

bars.append('div')
    .classed({
        'bar': true,
        'total': true
    });

bars.append('div')
    .classed({
        'bar': true,
        'current': true
    })
    .style('width', function(d){
        return d.percent;
    })
bars.append('div')
    .classed('progress-text', true)
    .text(function(d){ 
        return d.progress + '/' + d.length;
    });
{% endblock inline-js %}