{% extends 'base.html' %}
{% load staticfiles %}
{% block inline-css %}
#progress-bar {
    position: relative;
    width: 400px;
    height: 20px;
    padding: 5px 0;
}

.bar {
    height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.total {
    background: rgba(171, 56, 78, 0.25);
}

.current {
    background: #AB384E;
}

{% endblock inline-css %}

{% block content %}
<h1>
    <span class="exercise">
        {% if goal.exercise %}
            {{ goal.exercise | capfirst }}
        {% else %}
            Workout
        {% endif %}
    </span>
    |
    <span class="distance">
        {{ goal.trip.length }} miles
    </span>
</h1>
<div class="progress"></div>
<div>
    <ul>
    {% for workout in goal.workout_set.all %}
        <li>
            {{ workout.exercise }} for {{ workout.distance }} miles.
        </li>
    {% empty %}
        <li>
            You have no saved workouts.
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'add_workout' goal.pk %}">Add a workout.</a>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/goal.js' %}"></script>
{% endblock javascript %}

{% block inline-js %}
var total = {{ goal.trip.length }};
var distances = [
    {% for workout in goal.workout_set.all %}
    {{ workout.distance }},
    {% endfor %}
];

showProgress(total, distances);
{% endblock inline-js %}