{% extends 'base.html' %}

{% block content %}
<ul>
{% for goal in goal_list %}
    <li>
        <a href="{% url 'goal' goal.id %}">
        {% if goal.exercise %}
            {{ goal.exercise.name | capfirst }}
        {% else %}
            Exercise
        {% endif %}
        from {{ goal.trip.start.name }} to {{ goal.trip.end.name }} ({{ goal.trip.length }} miles)</a>
    </li>
{% empty %}
    <li>
        You have no goals. <a href="{% url 'add_goal' %}">Add a goal.</a>
    </li>
{% endfor %}
</ul>
{% endblock content %}
