{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
{% endblock stylesheets %}

{% block inline-css %}
.workout form {
    display: inline-block;
}

.city {
    cursor: default;
}
{% endblock inline-css %}

{% block content %}
<h1>
    {{ goal.start.name }} to {{ goal.end.name }}
</h1>
<h2>
    <span class="goal-progress">
        {{ goal.progress }}
    </span>
    /
    <span class="goal-length">
        {{ goal.length | intcomma }}
    </span>
    miles
    (<span id="progress-percent"></span>)
</h2>
{% if is_owner %}
<div class="dangerous">
    <p>
        <a href="{% url 'update_goal' goal.pk %}">Update Goal</a>
    </p>
    <p>
        <a href="{% url 'delete_goal' goal.pk %}">Delete Goal</a>
    </p>
</div>
{% endif %}
<div class="progress"></div>
<div class="map"></div>
<div>
    <ol>
    {% for workout in goal.workout_set.all %}
        <li class="workout">
            {{ workout.exercise }} for {{ workout.distance }} miles
            <form action="{% url 'delete_workout' workout.pk %}" method="post">
                {% csrf_token %}
                <button>&times;</button>
            </form>
        </li>
    {% empty %}
        <li>
            There are no saved workouts.
        </li>
    {% endfor %}
    </ol>
    {% if is_owner %}
        <a href="{% url 'add_workout' goal.pk %}">Add a workout.</a>
    {% endif %}
</div>

{% endblock content %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/maps.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/goal.js' %}"></script>
{% endblock javascript %}

{% block inline-js %}
var total = {{ goal.length }};
var progress = {{ goal.progress }};
var percent = d3.min([(progress / total), 1]);

var percFormat = d3.format('.2%');
d3.select('#progress-percent')
    .text(percFormat(percent));

var startCity = {
    name: "{{ goal.start.name }}",
    latitude: {{ goal.start.latitude }},
    longitude: {{ goal.start.longitude }}  
};
var endCity = {
    name: "{{ goal.end.name }}",
    latitude: {{ goal.end.latitude }},
    longitude: {{ goal.end.longitude }}  
};
drawGoal(startCity, endCity, percent, total);
{% endblock inline-js %}