{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Public Solar Systems | {{ block.super }}
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div>
    <a href="{% url 'add_solar_system' %}">Add A Solar System</a>
</div>
{% endif %}
<ol>
{% for ss in solarsystem_list %}
    <li class="solar-system">
        <a class="title" href="{% url 'solar_system' ss.id %}">
            {{ ss.name }}
        </a>
        {% if ss.creator == self.request.user %}
        <div class="dangerous">
            <a href="{% url 'update_solar_system' ss.pk %}">Update</a>
            <a href="{% url 'delete_solar_system' ss.pk %}">Delete</a>
        </div>
        {% endif %}
    </li>
{% empty %}
    <li>
        There are no public solar systems.
    </li>
{% endfor %}
</ol>
{% endblock content %}
