{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<h1>
    {{ solarsystem.name }}
</h1>
{% if is_creator %}
<div class="dangerous">
    <a href="{% url 'delete_solar_system' solarsystem.pk %}">Delete</a>
    <a href="{% url 'update_solar_system' solarsystem.pk %}">Update</a>
</div>
<p>
{% if solarsystem.public %}
    Public
{% else %}
    Private
{% endif %}
</p>
{% endif %}

{% for star in solarsystem.star_set.all %}
  {% include 'solar_systems/star_partial.html' %}
{% empty %}
    <p>
      There are no stars in this solar system.
    </p>
    {% if is_creator %}
      <a href="{% url 'add_star' solarsystem.pk %}">Add Star</a>
    {% endif %}
{% endfor %}

{% endblock content %}
