{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
{{ solarsystem.name }} | {{ block.super }}
{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/solar-system.css' %}">
{% endblock stylesheets %}


{% block content %}
<h1>
    {{ solarsystem.name }}
</h1>
{% if is_creator %}
<div class="dangerous">
    <a href="{% url 'delete_solar_system' solarsystem.pk %}">Delete</a>
    <a href="{% url 'update_solar_system' solarsystem.pk %}">Update</a>
</div>
<p>
{% if solarsystem.public %}
    Public
{% else %}
    Private
{% endif %}
</p>
{% endif %}

<div id="solar-system"></div>

{% for star in solarsystem.star_set.all %}
  {% include 'solar_systems/partials/star_partial.html' %}
{% empty %}
    <p>
      There are no stars in this solar system.
    </p>
    {% if is_creator %}
      <a href="{% url 'add_star' solarsystem.pk %}">Add Star</a>
    {% endif %}
{% endfor %}

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script async src="{% static 'js/orbits.js' %}" type="text/javascript"></script>
{% endblock javascript %}

{% block inline-js %}
const solarSystemJSON = {{ solar_system_json|safe }};
{% endblock inline-js %}
