{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  Planet {{ planet.name }} | {{ block.super }}
{% endblock title %}

{% block content %}
<h1>{{ planet.name }}</h1>
<h3>
  A Member of the <a href="{% url 'system' ps.pk %}">{{ ps.name }}</a> Planetary System.
</h3>
{% if planet.creator == user %}
<div class="dangerous">
<a href="{% url 'delete_planet' planet.pk %}">Delete Planet</a>
<a href="{% url 'update_planet' planet.pk %}">Update Planet</a>
<a href="{% url 'add_moon' planet.pk %}">Add A Moon</a>
</div>
{% endif %}
<ul>
  <li>
    Radius: {{planet.radius}} kms
  </li>
  <li>
    Distance from Star: {{planet.distance}} million kms
  </li>
  <li>
    Stellar Day Length: {{day_length}}
  </li>
  <li>
    Orbital Period: {{planet.orbit}} days
  </li>
  <li>
    Time for light to reach planet: {{ light_time }}
  </li>
</ul>

{% for moon in planet.moon_set.all %}
{% include 'systems/partials/moon_partial.html' %}
{% empty %}
<div>
  There are no moons orbiting this planet.
</div>
{% endfor %}

{% endblock content %}
