{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
{{ planetarysystem.name }} | {{ block.super }}
{% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/system.css' %}">
{% endblock stylesheets %}


{% block content %}
<h1>
    {{ planetarysystem.name }}
</h1>
{% if is_creator %}
<div class="dangerous">
    <a href="{% url 'delete_system' planetarysystem.pk %}">Delete</a>
    <a href="{% url 'update_system' planetarysystem.pk %}">Update</a>
</div>
<p>
{% if planetarysystem.public %}
    Public
{% else %}
    Private
{% endif %}
</p>
{% endif %}

<div id="system"></div>

{% for star in planetarysystem.star_set.all %}
  {% include 'systems/partials/star_partial.html' %}
{% empty %}
    <p>
      There are no stars in this planetary system.
    </p>
    {% if is_creator %}
      <a href="{% url 'add_star' planetarysystem.pk %}">Add Star</a>
    {% endif %}
{% endfor %}

{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script async src="{% static 'js/orbits.js' %}" type="text/javascript"></script>
{% endblock javascript %}

{% block inline-js %}
const planetarySystemJSON = {{ planetary_system_json|safe }};
{% endblock inline-js %}
