{% load staticfiles %}

<!doctype html>
<html>
<head>
<title>
{% block title%}
How Far?
{% endblock title %}
</title>

{% block stylesheets %}
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock stylesheets %}

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
{% block header %}
    <ul>
        <li>
            <a class="home" href="/"><img src="{% static 'img/earth.png' %}">How Far?</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            {{ user.username | capfirst }}
        </li>
        <li>
            <a href="{% url 'logout' %}?next=/">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
        
    </ul>
{% endblock header %}
</header>
<div class="content">
{% block content %}
{% endblock content %}
</div>
{% block javascript %}
{% endblock javascript %}
</body>
</html>
