{% load staticfiles %}

<!doctype html>
<html>
<head>
<title>
{% block title%}
How Far?
{% endblock title %}
</title>

{% block stylesheets %}
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock stylesheets %}

<style type="text/css">
{% block inline-css %}
{% endblock inline-css %}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
<header>
{% block header %}
<menu>
    <ul>
        <li>
            <a class="home" href="/"><img src="{% static 'img/earth.png' %}">How Far?</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'goals' %}">Goals</a>
            <ul>
                <li>
                    <a href="{% url 'add_goal' %}">Add Goal</a>
                </li>
                <li>
                    <a href="{% url 'goals' %}">Goals</a>
                </li>
            </ul>
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
        </li>
        <li class="username">
            {{ user.username | capfirst }}
        </li>
        <li>
            <a href="{% url 'logout' %}?next=/">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
        
    </ul>
</menu>
{% endblock header %}
</header>
<div class="content">
{% block content %}
{% endblock content %}
</div>
{% block javascript %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
{% endblock javascript %}

<script type="text/javascript">
{% block inline-js %}
{% endblock inline-js %}
</script>

</body>
</html>
