{% extends 'base.html' %}

{% block content %}
<div class="about">
    Create goals and track your progress for running, walking, biking, or swimming the equivalent of distances between well known places.
</div>
<div class="workout">
    <form>
        I
        <select>
            <option>ran</option>
            <option>walked</option>
            <option>biked</option>
            <option>swam</option>
        </select>
        for
        <input type=text placeholder="1"/>
        miles!
        {% if user.is_authenticated %}
        <button>Save</button>
        {% endif %}
    </form>
</div>
{% endblock content %}