/*
colors:
$red: #CD0D32;
$gray: #F1F4F7;
$blue: #29608C;
$dark-blue: #143D5E;
$light-green: #9CC8A5;
$green: #3DB366;
$dark-green: #3E7350;
$light-brown: #EAE7D8;
$brown: #696243;
*/

html, body {
    margin: 0;
    padding: 0;
    background: #EAE7D8;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #3E7350;
}

a:visited {
    color: #3E7350;
}

header {
    background: #3DB366;
    color: #EAE7D8;
}

menu {
    padding: 0;
    margin: 0;
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    display: inline-block;
    margin-right: 15px;

}

menu > ul > li {
    position: relative;
}

header li ul {
    display: none;
    position: absolute;
    background: #3DB366;
    width: 125px;
}

header li li {
    display: block;
    color: #3DB366;
    padding: 0 3px;
    margin: 0;
}

header li li:hover {
    background: #3E7350;
}

header li a {
    display: block;
}

header li:hover ul {
    display: block;
}

header a, header a:visited {
    color: #EAE7D8;
    text-decoration: none;
}

.home {
    font-family: 'Oswald', sans-serif;
    margin-left: 50px;
    font-size: 32px;
}

.home img {
    height: 30px;
    padding-right: 10px;
}

.home{
    text-shadow:  1px 1px #143D5E, 2px 2px #143D5E, 3px 3px #143D5E, 4px 4px #143D5E, 5px 5px #143D5E;
}

.content {
    padding: 25px 75px 0;
}

.workout {
    font-size: 30px;
}

.workout select, .workout input {
    font-size: 30px;
}

.workout select {
    border-color: transparent;
}

.workout input {
    width: 75px;
    border-color: transparent;
    text-align: right;
}

.workout button {
    font-size: 24px;
    border-radius: 10px;
}

.about {
    font-size: 24px;
}

span.helptext {
  display: block;
  font-size: 0.8em;
  color: #29608C;
}

p label {
    display: block;
}

form p {
    margin: 2px 0;
    padding: 0;
}