.state path {
    fill: #9CC8A5;
    stroke: #EAE7D8;
    stroke-width: 1px;
}

.city {
    fill: #3E7350;
}

.city.active {
    fill: #AB384E;
}

.trip {
    stroke: #AB384E;
    stroke-width: 2px;
}

.trip-text {
    text-anchor: middle;
    fill: #143D5E;
}

.preview {
    stroke: #AB384E;
    opacity: 0.5;
    stroke-width: 2px;
}