{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>{{ user.username }}</h1>
<div class="systems">
  <div>
      <a href="{% url 'add_system' user.username %}">Add A Planetary System</a>
  </div>
  <ul>
  {% for ps in user.planetarysystem_set.all %}
    <li class="planetary-system">
        <a class="title" href="{% url 'system' user.username ps.url_name %}">
            {{ ps.name }}
        </a>
        <div class="dangerous">
            <a href="{% url 'update_system' user.username ps.url_name %}">Update</a>
            <a href="{% url 'delete_system' user.username ps.url_name %}">Delete</a>
        </div>
    </li>
  {% empty %}
    <li>You haven't created any planetary systems yet.</li>
  {% endfor %}
  </ul>
</div>
{% endblock content %}
