{% load system_extras %}

<div>
  <h4>{{ moon.name }}</h4>
  {% if moon.creator == user %}
  <div class="dangerous">
    <a href="{% url 'delete_moon' username system_name planet.url_name moon.url_name %}">Delete Moon</a>
    <a href="{% url 'update_moon' username system_name planet.url_name moon.url_name %}">Update Moon</a>
  </div>
  {% endif %}
  <ul>
    <li>
      Radius: {{moon.radius}} kms
    </li>
    <li>
      Distance from Planet: {{moon.distance}} kms
    </li>
    <li>
      Day Length: {{moon.day_length|pretty_time}}
    </li>
    <li>
      Orbital Period: {{moon.orbit}} days
    </li>
  </ul>
</div>