{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="description">
  <h1>
    Create your own planetary systems.
  </h1>
  <p>
    With Cosmos, you can create a system of planets rotating around a star.
  </p>
  <h2>
    100,000,000,000,000,000,000,000,000,000
  </h2>
  <p>
    That number is 100 octillion (1e29), which is an estimated number of stars in the Universe. That's a lot of possibilities for a system that you imagine to really exist!
  </p>
</div>
{% endblock content %}
