{% extends 'base.html' %}

{% load staticfiles %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/system.css' %}">
{% endblock stylesheets %}


{% block content %}

<div class="description">
  <h1>
    Create your own planetary systems.
  </h1>
  <p>
    With Cosmos, you can create your own systems of planets rotating around stars.
  </p>
  <div id="system"></div>
  <h2>
    100,000,000,000,000,000,000,000,000,000
  </h2>
  <p>
    That number is 100 octillion (1e29), which is an estimated number of stars in the Universe. That's a lot of possibilities for a system that you imagine to really exist!
  </p>
</div>
{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
<script src="{% static 'js/orbit.js' %}" type="text/javascript"></script>
{% endblock javascript %}

{% block inline-js %}
var star = {"name":"The Sun", "radius":696342};
var planets = [
  {
    "name":"Mercury",
    "orbit":0.5,
    "moons":[],
    "radius":2440,
    "color":"#2196F3",
    "day_length":15137279,
    "distance":57
  },
  {
    "name":"Venus",
    "orbit":1.92,
    "moons":[],
    "radius":6052,
    "color":"#FF9800",
    "day_length":10101375,
    "distance":108,
  },
  {
    "name":"Earth",
    "orbit":365,
    "moons":[],
    "radius":6378,
    "color":"#8BC34A",
    "day_length":86164,
    "distance":150,
  },
  {
    "name":"Mars",
    "orbit":667,"moons":[],
    "radius":3397,
    "color":"#E91E63",
    "day_length":88761,
    "distance":228,
  }
];
var stepFn = orbit(star, planets, {
  radius: 150,
  holder: '#system',
  period: 5000
});
window.requestAnimationFrame(stepFn);
{% endblock inline-js %}
