<div>
  <h3>Star References</h3>
  <table>
  <thead>
    <tr>
      <th>Spectrum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="background: #4FC3F7">
        O
      </td>
    </tr>
    <tr>
      <td style="background: #B3E5FC">
        B
      </td>
    </tr>
    <tr>
      <td style="background: #FBF8FF">
        A
      </td>
    </tr>
    <tr>
      <td style="background: #FFF9C4">
        F
      </td>
    </tr>
    <tr>
      <td style="background: #FFEB3B">
        G
      </td>
    </tr>
    <tr>
      <td style="background: #FF9800">
        K
      </td>
    </tr>
    <tr>
      <td style="background: #E53935">
        M
      </td>
    </tr>
  </tbody>
  </table>
</div>